.acction-button {
  background-color: $color-primary;
  color: #fff;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1.5rem 2.5rem;
  border: 0.2rem solid $color-primary;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.15rem;
  transition: all .15s ease-out;

  &:hover {
    // background-color: $color-secondary;
    // color: $color-primary;
    // font-weight: 700;
    transform: translateY(-0.3rem);
    box-shadow: 0 0.8rem 0.6rem rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(0rem) ;
    box-shadow: 0 0rem 0rem rgba(0, 0, 0, 1);
  }
}

.white {
  background-color: #fff;
  color: $color-primary;
  font-weight: 200;
}
