.app {
    margin: 0 auto;
    // background-color: rgb(247, 247, 247);
    background-color: $color-backgroud;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 8rem;
        color: $color-primary;
        margin: 5rem;
    }
    
    &_acctions {
        background-color: $color-backgroud-light;
        box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.2);
        border-radius: 2rem;
        padding: 3rem;
        margin: 3rem;
    }
}